<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>My Reddit</title>
    <!--css-->
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--javascript-->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!--momment.js-->
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>
    <!--cordova-->
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>

  </head>

  <body ng-app="myreddit" ng-controller="RedditCtrl">
    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">My Reddit</h1>
      </ion-header-bar>
      <ion-content>

        <!--refresh page-->
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="loadNewerStories()">
        </ion-refresher>

        <div class="list">
            <a class="item item-thumbnail-left item-text-wrap"
              ng-repeat="story in stories track by story.id"
              style="font-size: 10px;"
              ng-click="openLink(story.url)"
              >
                <img ng-src="{{story.thumbnail}}" ng-if="story.thumbnail.startsWith('http')">
                <h5 class="item-text-wrap" style="color: grey; font-size: 8px;">{{story.title}}</h5>
                <p style="font-size: 8px;">
                  <span style="font-size: 5px;" am-time-ago="story.created_utc"></span> - <b style="font-size: 7px;">{{story.domain}}</b>
                </p>
            </a>
        </div>
        <!--load more data after scroll-->
        <ion-infinite-scroll on-infinite="loadOlderStories()" distance="1%">
        </ion-infinite-scroll>
      </ion-content>
    </ion-pane>
  </body>
</html>
